# Task 4.6

## Importing libraries

In [17]:
import pandas as pd
import numpy as np
import os

In [18]:
# Define the path

path = r'/Users/iMac/Library/CloudStorage/OneDrive-Personal/Data Analytics/Data Analytics Immersion/Exercise 4/2024-01_Instacart Basket Analysis/02 Data/00 Prepared Data'

## 3. import the orders_products_combined dataframe

In [19]:
df_ords_prods_com = pd.read_pickle(os.path.join(path, 'orders_products_combined.pkl'))

## 4. Check the shape of the imported dataframe

In [20]:
df_ords_prods_com.shape

(32434489, 11)

### The shape of the imported dataframe matches the exported file

## 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [21]:
# Import productes dataset

df_prods = pd.read_csv(os.path.join(path, 'products_checked.csv'), index_col = False)

In [22]:
# Check output of df_prods

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [23]:
# Check output of df_ords_prods_com

df_ords_prods_com.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

### The DataFrames can be joined on 'product_id'

In [24]:
# Merge df_ords_prods_com with df_prods on 'product_id' column

df_merged_prods = df_prods.merge(df_ords_prods_com, on = 'product_id')

In [25]:
# Check output of df_merged_prods

df_merged_prods.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both

## 6. Confirm the results of the merge using the merge flag.

In [26]:
df_merged_prods['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

### merge results confirmed

## 7. Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [27]:
df_merged_prods.to_pickle(os.path.join(path, 'ords_prods_merge.pkl'))